In [1]:
import pandas as pd
import numpy as np

In [25]:
matrix_data = pd.read_csv("co-occurrence_matrix.csv")
product = pd.read_csv("olist_products_dataset.csv")

In [28]:
product = product[["product_id", "product_category_name"]]

In [21]:
product_list = matrix_data["product_id"].unique()

In [32]:
product_list_df = pd.DataFrame(product_list, columns=["product_id"])

In [33]:
product_list_df

                            product_id
0     0011c512eb256aa0dbbb544d8dffcf6e
1     005030ef108f58b46b78116f754d8d38
2     007c63ae4b346920756b5adcad8095de
3     00ba6d766f0b1d7b78a5ce3e1e033263
4     00faa46f36261af8bbf3a4d37fa4841b
...                                ...
2462  ff7a70b3356d433014b7d6957ed196cb
2463  ff7c7524d5f9a8386ab27088ec03c1fb
2464  ff9032482857269e8683f0c2f8ba4709
2465  ff95ac47246ef13e48712ea1ff8df0d9
2466  ffe8083298f95571b4a66bfbc1c05524

[2467 rows x 1 columns]

In [34]:
# Merge the df
product_category_df = pd.merge(left=product_list_df, right=product, on='product_id')

In [35]:
product_category_df

                            product_id        product_category_name
0     0011c512eb256aa0dbbb544d8dffcf6e                   automotivo
1     005030ef108f58b46b78116f754d8d38                   perfumaria
2     007c63ae4b346920756b5adcad8095de        utilidades_domesticas
3     00ba6d766f0b1d7b78a5ce3e1e033263        utilidades_domesticas
4     00faa46f36261af8bbf3a4d37fa4841b  fashion_bolsas_e_acessorios
...                                ...                          ...
2462  ff7a70b3356d433014b7d6957ed196cb             moveis_decoracao
2463  ff7c7524d5f9a8386ab27088ec03c1fb              cama_mesa_banho
2464  ff9032482857269e8683f0c2f8ba4709  fashion_bolsas_e_acessorios
2465  ff95ac47246ef13e48712ea1ff8df0d9        utilidades_domesticas
2466  ffe8083298f95571b4a66bfbc1c05524              cama_mesa_banho

[2467 rows x 2 columns]